# Credenciais e Segredos
.env

# Dados brutos e descompactados (Nao versionar dados pesados, apenas codigo)
*.zip
*.csv
data/

# Ambiente Virtual
.venv/
venv/

# Arquivos temporarios do Python
__pycache__/
*.pyc

# Cache e checkpoints do Jupyter Notebook
.ipynb_checkpoints/